body {
  color: antiquewhite#000;
  font-family: 'Hiragino Mincho Pro', serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

header{
  background-color: #000;
  display: flex;
}

.header-logo {
  width: 193px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header-nav{
  margin-left: auto;
}

.nav {

}

.nav-list {
  display: flex;
  margin-right: 25px;
  margin-top: 28px;
  margin-bottom: 30px;
}

.nav-item: :nth-child() {
  margin-left:25px;
}

.nav-item a {
  color: #ffffff;
}